.Item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 180px;
    height: 13px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px;
    background-color:rgb(29, 7, 50);
    align-items: center;

}


.Item p{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;

}
.Item button{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    padding: 2px;
    padding-bottom: 20px;
}